<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--summernote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script th:src="@{/js/write.js}"></script>
    <title>write</title>
</head>
<body>
    <form th:action="@{/board/write}" method="post" enctype="multipart/form-data">
        <div>
            <span>제목</span>
            <input type="text" placeholder="제목을 입력하세요" name="title" th:value="${title}">
            <!-- 주의 문구 -->
<!--          <span th:if="${error_title}" th:utext="${error_title}"></span>-->
        </div>
            <div>

                <textarea id="content" name="content" row="5" placeholder="내용을 입력하세요" th:utext="${content}"></textarea>

            </div>
        </div>

            <button type="submit">작성완료</button>
            <a th:href="@{/board/list(page=${session.page}}">목록</a>
    </form>
</body>
</html>