<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="appDetail">
<div class="card mt-4">
	<div class="card-body">
    	<div class="row g-0">
        	<div class="col-md-4">
                <img class="img-fluid rounded-start" alt="main_image" id="main_image">
            </div>
            <div class="col-md-8">
            	<div class="card-body">
					<div class="row justify-content-start">
						<h2 class="col-auto card-title">[[${data.name}]]</h2>						
						<i class="col-auto bi bi-box2-heart fs-3"></i>
					</div>
					<h4 class="col" id="score_avg"><b>0.00</b> / 5</h4>
                    <p class="card-text">[[${data.short_description}]]</p>

                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="@{'/reivew/' + ${appId}}">게임 리뷰</a></li>
        <li class="nav-item"><a class="nav-link active" href="@{'/board/list/' + ${appId}}">게시판</a></li>
        <li class="nav-item"><a class="nav-link active" href="@{'/fileboard/list/' + ${appId}}">자료실</a></li>
    </ul>

</nav>
</th:block>
</html>