<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="appDetail">
<div class="card mt-4">
	<div class="card-body">
    	<div class="row g-0">
        	<div class="col-md-4">
                <img class="img-fluid rounded-start" alt="main_image" id="main_image" th:src="${src}">
            </div>
            <div class="col-md-8">
            	<div class="card-body">
					<div class="row justify-content-start">
						<h2 class="col-auto card-title">[[${data.name}]]</h2>						
						<i id="wishIcon" type="button" class="col-auto fs-3 bi bi-clipboard-heart"></i>
					</div>
					<h4 class="col" id="score_avg"><b>0.00</b> / 5</h4>
                    <p class="card-text">[[${data.short_description}]]</p>

                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light mt-2 mb-2">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{'/review/' + ${appId}}">게임 리뷰</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/board/list/' + ${appId}}">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/fileboard/list/' + ${appId}}">자료실</a>
        </li>
      </ul>
    </div>
  </nav>
</th:block>
</html>