<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script th:src="@{/js/fileboard/update.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/write.css}">
  <title>자료게시판 수정페이지</title>
</head>

<body>
<th:block th:insert="~{/header::header}"></th:block>
<form th:action="@{|/fileboard/update/${appId}|}" name="updateFrm" method="post" enctype="multipart/form-data">
  <div class="container my-3 m-5">
    <label for="content">게임 설명:</label>
    <textarea class="form-control" rows="5" id="content" placeholder="설명을 입력하세요" style="height:50px" maxlength="100" name="content" th:utext="${content} ? ${content} : ${fileBoard.content}"></textarea>
    <span class="text-danger" th:if="${error_content}" th:utext="${error_content}"></span>
  </div>

  <div class="container mt-3 mb-3 m-5 border rounded" >
    <div id="deleteFiles"></div>
    <div class="mb-3 mt-3">
      <label>첨부파일:</label>
      <div class="input-group mb-3" th:each="attachment : ${fileBoard.fileList}">
        <input class="form-control col-xs-3" id="existFile" type="text" readonly th:value="${attachment.sourcename}"/>
        <button type="button" class="btn btn-outline-danger" th:file-id-delete="${attachment.id}">삭제</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 mb-3 m-5 border rounded">
    <div class="mb-3 mt-3">
      <label>첨부파일:</label>
      <div id="files">

      </div>
      <span class="text-danger" th:if="${error_fileList}" th:utext="${error_fileList}"></span>
      <button type="button" id="btnInsert" class="btn btn-secondary">추가</button>
    </div>
  </div>

  <input type="hidden" name="id" th:value="${fileBoard.id}">
  <div class="container mt-3 mb-3 m-5">
    <button type="submit" id="upBtn" class="btn btn-outline-dark">수정 완료</button>
    <a class="btn btn-outline-dark" th:if="${appId != 'null'}" th:href="@{|/fileboard/list/${appId}|}">목록</a>
    <a class="btn btn-outline-dark" th:if="${appId == 'null'}" th:href="@{/user/mypage/myFileBoard}">목록</a>
  </div>
</form>
</body>
</html>